header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5rem;
    height: 5rem;
}

.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-weight: 500;    
}

.header__menu-item {
    color: var(--color-light);
}

.header__menu-item:hover {
    color: var(--color-primary);
    cursor: pointer;
    transition: all 0.5s ease;
}

.header__logo {
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
}